In [ ]:
         RULES FOR NAMING THE VARIABLE

  The first character must be a letter or an underscore
  The rest of the variables name can include any letter,any number,or the underscore
  no limit to the length of the variable name
  include upper case alphabets.python is case sensitive

In [2]:
age=input("what is your age")

what is your age5

In [3]:
myname="keerthana"

In [4]:
MyName="keerthana"

In [7]:
class_age=(1,2,34,42,25,27)

In [8]:
class1=50
class2=65
print(class1)

50

In [10]:
my_age=15
myname="keerthana"
MyRollno=60
print(my_age)

15

In [11]:
print(MyRollno)

60

In [12]:
print(myname)

keerthana