In [ ]:
                 TYPECASTING
 Implicit typecasting
 explicit typecasting

In [ ]:
###implicit typecasting
converts data into another datatype automatically

In [1]:
a=9
print(type(a))

<class 'int'>

In [3]:
b=99.9
print(type(b))

<class 'float'>

In [4]:
c=a+b
print(c)
print(type(c))

199.8
<class 'float'>

In [5]:
c="premlatha"
print(type(c))

<class 'str'>

In [6]:
d=32
print(d)

32

In [7]:
e=89
print(e)

89

In [8]:
f=e-d
print(f)
print(type(f))

57
<class 'int'>

In [ ]:
###Explicit typecasting
need user involvement to convert the variablr data type in order to the operation required

In [9]:
##int to float
a=5
n=float(a)
print(n)
print(type(n))

5.0
<class 'float'>

In [10]:
##float to int
a=99.9
n=int(a)
print(n)
print(type(n))

99
<class 'int'>

In [11]:
##int to string
a=5
n=str(a)
print(n)
print(type(n))

5
<class 'str'>

In [13]:
##string to int
a=5
n=int(a)
print(n)
print(type(n))

5
<class 'int'>

In [14]:
##string to float
a="5.9"
n=float(a)
print(n)
print(type(n))

5.9
<class 'float'>

In [15]:
a=98
n=float(a)
print(n)
print(type(n))

98.0
<class 'float'>

In [16]:
a=7
n=str(a)
print(n)
print(type(n))

7
<class 'str'>